:root {
  --color-jacarta: #2a2e6d;
  --color-astronaut: #292e6d;
  --color-white: #fff;
  --color-flamingo: #f04e35;
  --color-electricViolet: #6246fa;
  --color-dodgerBlue: #207bff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto";
  overflow-x: hidden;
}
a {
  text-decoration: none;
  font-weight: 600;
}
li {
  list-style: none !important;
}
p {
  font-size: 14px;
  line-height: 1.6;
}
.container {
  margin: 0 auto;
}
.col-1 {
  max-width: calc(100% / 3);
}
.col-2 {
  flex: 0 0 calc(100% / 2);
  max-width: 50%;
}
.background {
  position: absolute;
  z-index: -4;
}
.header {
  width: 100%;
  padding: 30px 0;
}
.header .container {
  padding-left: 50px;
  padding-right: 100px;
}
.header .header-wrapper {
  display: flex;
  align-items: center;
  max-height: 50px;
  justify-content: space-between;
}
.header .header-wrapper .header-logo {
  width: 245px;
}
.header .header-wrapper .header-logo .logo-img {
  width: 100%;
}
.header .header-wrapper .header-nav {
  display: flex;
  padding-right: 300px;
}
.header .header-wrapper .header-nav li {
  padding: 0 18px;
}
.header .header-wrapper .header-nav a {
  color: var(--color-jacarta);
}
.header .header-wrapper .header-btn {
  z-index: 2;
}
.header .header-wrapper .header-btn .btn {
  color: var(--color-white);
  background-color: rgba(0, 0, 0, 0);
  border-width: none;
  padding: 10px 15px;
  border-radius: 30px;
  border-color: transparent;
  font-weight: 500;
  font-size: 16px;
}
.header .header-wrapper .header-btn .btn:hover {
  background-color: var(--color-flamingo);
  color: var(--color-white) !important;
}
.active {
  position: fixed;
  padding: 15px 0;
  background: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 35%);
  -webkit-animation: headerScroll 0.5s linear forwards;
  animation: headerScroll 0.5s linear forwards;
  z-index: 1;
}
.active .header-btn .btn {
  color: var(--color-jacarta) !important;
}
@-webkit-keyframes headerScroll {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes headerScroll {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
.section .initiatory {
  padding-top: 40px;
}
.section .text-title {
  text-transform: uppercase;
  color: var(--color-jacarta);
  font-weight: bold;
  padding: 20px 0;
  font-size: 26px;
}
.section .text-content {
  color: var(--color-astronaut);
  text-align: left;
  max-width: 550px;
  font-size: 15px;
  line-height: 1.4;
  padding-bottom: 25px;
}
.section .section-bg {
  right: 0;
  position: absolute;
  transform: rotate(36deg);
  transform-origin: 103% 46%;
  height: 620px;
  z-index: -2;
  width: 620px;
  border-radius: 50px;
  background-image: linear-gradient(to right, #1063faba, #9247d8);
}
.section .section-bg .background-img1 {
  transform: rotate(-8deg);
  transform-origin: 4% 78%;
}
.section .background-img2 {
  float: left;
  transform: rotate(60deg);
  transform-origin: -20% 5%;
  width: 28%;
}
.section .services-electronic {
  height: 378px;
}
.section .services-electronic .wrapper {
  max-width: 846px;
}
.section .services-electronic .initiatory .text-title {
  font-size: 30px;
  color: var(--color-electricViolet);
  font-weight: bold;
}
.section .services-electronic .initiatory .text-content {
  padding: 38px 180px 38px 0;
  font-size: 18px;
  display: inline-grid;
}
.section .services-electronic .section-about {
  align-items: center;
  display: flex;
  box-shadow: 0 0 5px rgba(10, 31, 68, 35%);
  border-radius: 10px;
  height: 80px;
}
.section .services-electronic .section-about .about-item {
  padding: 5px 15px 5px 5px;
  width: calc(100% / 4);
}
.section .services-electronic .section-about .about-item .about-number {
  color: var(--color-jacarta);
  font-size: 28px;
}
.section .services-electronic .section-about .about-item p {
  color: var(--color-astronaut);
}
.section .services-electronic .section-about .about-btn {
  background-color: var(--color-flamingo);
  border-radius: 10px;
  height: 100%;
}
.section .services-electronic .section-about .about-btn h3 {
  text-transform: uppercase;
  text-align: center;
  color: var(--color-white);
  font-size: 30px;
  padding-top: 16px;
}
.section .services-WHC .services-bg {
  left: 0;
}
.section .services-WHC .services-bg .bg-opacity3 {
  position: absolute;
  transform: rotate(37deg);
  transform-origin: 6% -52%;
  height: 580px;
  z-index: 1;
  width: 607px;
  border-radius: 50px;
  background-image: linear-gradient(to right, #1063faba, #9247d8);
  opacity: 0.4;
}
.section .services-WHC .services-bg .background-img3 {
  height: 100%;
  transform: rotate(25deg);
  transform-origin: 0% -120%;
}
.section .services-WHC .wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-left: 330px;
  padding-right: 0;
  padding-top: 20px;
}
.section .services {
  margin: 0 auto;
  max-width: 1240px;
}
.section .services .wrapper .services-col {
  padding: 0 25px 25px 0;
}
.section .services .wrapper .services-col .services-box {
  box-shadow: 0 0 5px rgba(10, 31, 68, 35%);
  padding: 20px 25px;
  border-radius: 5px;
  min-height: 330px;
}
.section .services .wrapper .services-col .services-box:hover {
  background: linear-gradient(to right, #482e77 0%, #4d50c5 68%, #4d50c5 100%);
  transform: translate(0, -20px);
  transition: 0.5s ease;
}
.section .services .wrapper .services-col .services-box:hover .services-icon {
  background-color: var(--color-white);
}
.section .services .wrapper .services-col .services-box:hover .services-icon i {
  color: var(--color-dodgerBlue);
}
.section .services .wrapper .services-col .services-box:hover .section-title,
.section .services .wrapper .services-col .services-box:hover .section-content {
  color: var(--color-white);
}
.section
  .services
  .wrapper
  .services-col
  .services-box:hover
  .services-btn
  .btn {
  color: var(--color-white);
  background-color: var(--color-flamingo);
  border: none;
}
.section .services .wrapper .services-col .services-box .services-icon {
  background-color: var(--color-dodgerBlue);
  border-radius: 50%;
  height: 60px;
  width: 60px;
  font-size: 25px;
  display: inline-block;
  text-align: center;
}
.section .services .wrapper .services-col .services-box .services-icon i {
  color: var(--color-white);
  margin-top: 15px;
}
.section
  .services
  .wrapper
  .services-col
  .services-box
  .services-des
  .section-title {
  min-height: 65px;
  padding: 0;
}
.section
  .services
  .wrapper
  .services-col
  .services-box
  .services-des
  .section-title
  h6 {
  padding-top: 15px;
}
.section
  .services
  .wrapper
  .services-col
  .services-box
  .services-des
  .section-content {
  min-height: 100px;
  padding: 0;
}
.section .services-btn {
  padding-top: 10px;
}
.section .services-btn .btn {
  color: var(--color-dodgerBlue);
  background-color: transparent;
  border: 2px solid;
  border-radius: 7px;
  padding: 10px 25px;
  text-transform: uppercase;
  font-weight: 600;
}
.section .wrapper-row {
  display: flex;
}
.section .register-course .background-img4 {
  transform: rotate(29deg);
  transform-origin: 77% 199%;
  right: 0;
}
.section .register-course .wrapper-row {
  margin-right: 84px;
}
.section .register-course .wrapper-row .register-col {
  margin-right: 30px;
}
.section .register-course .wrapper-row .register-col .register-box {
  box-shadow: 0 0 5px rgba(10, 31, 68, 35%);
  border-radius: 5px;
  min-height: 500px;
}
.section .register-course .wrapper-row .register-col .register-box:hover {
  transform: scale(1.05);
  transition: 0.5s ease;
}
.section
  .register-course
  .wrapper-row
  .register-col
  .register-box
  .register-img
  img {
  width: 100%;
  min-height: 276px;
}
.section
  .register-course
  .wrapper-row
  .register-col
  .register-box
  .register-des {
  padding: 0 20px 20px 20px;
}
.section
  .register-course
  .wrapper-row
  .register-col
  .register-box
  .services-btn {
  padding: 15px 0 35px 20px;
}
.section .register-consultation .register-consultation-bg {
  right: 0;
  transform: rotate(38deg);
  transform-origin: 54% 147%;
  height: 620px;
  z-index: -2;
  width: 620px;
  border-radius: 50px;
  background-image: linear-gradient(to right, #1063faba, #9247d8);
}
.section .register-consultation .register-consultation-bg .background-img5 {
  transform: rotate(88deg);
  transform-origin: 50% 48%;
}
.section .register-consultation .wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-right: 330px;
}
.section .experience .wrapper-row {
  padding-top: 40px;
}
.section .experience .wrapper-row .ex-col {
  margin-right: 36px;
}
.section .experience .wrapper-row .ex-col .avata-img {
  position: absolute;
  margin-top: -30px;
  margin-left: 30px;
}
.section .experience .wrapper-row .ex-col .avata-img img {
  width: 56px;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(10, 31, 68, 35%);
  border: 2px solid var(--color-white);
}
.section .experience .wrapper-row .ex-col .ex-box {
  box-shadow: 0 0 5px rgba(10, 31, 68, 35%);
  border-radius: 5px;
  position: relative;
}
.section .experience .wrapper-row .ex-col .ex-box:hover {
  background: linear-gradient(145deg, #918afc, #3268cc);
}
.section .experience .wrapper-row .ex-col .ex-box:hover .ex-des,
.section .experience .wrapper-row .ex-col .ex-box:hover .info {
  color: var(--color-white);
}
.section .experience .wrapper-row .ex-col .ex-box .ex-des {
  padding: 40px;
}
.section .experience .wrapper-row .ex-col .ex-box .ex-des p {
  font-style: italic;
}
.section .experience .wrapper-row .ex-col .ex-box .info {
  padding: 0 40px 20px 40px;
}
.section .experience .wrapper-row .ex-col .ex-box .info .info-name {
  color: var(--color-jacarta);
  font-size: 16px;
}
.section .news-event .news-event-bg {
  left: 0;
}
.section .news-event .news-event-bg .background-img6 {
  transform: rotate(55deg);
  transform-origin: 18% -5%;
  width: 70%;
}
.section .news-event .news-wrapper {
  display: flex;
  justify-content: flex-end;
}
.section .news-event .news-wrapper .col {
  z-index: -1;
  width: calc(100% / 6);
  flex-wrap: wrap;
  padding: 0 10px;
}
.section .news-event .news-wrapper .news-event-columns .news-event-square {
  position: relative;
  margin: 18px 0;
}
.section .news-event .news-wrapper .news-event-columns .news-event-square img {
  width: 100%;
}
.section .news-event .news-wrapper .news-event-columns .news-event-square span {
  position: absolute;
  color: var(--color-white);
  bottom: 25px;
  left: 13px;
}
.footer .footer-top {
  background-color: #f9f9f9;
}
.footer .footer-top .container {
  max-width: 1170px;
}
.footer .footer-top .footer-slider {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}
.footer .footer-top .footer-slider .footer-top-img {
  display: flex;
  height: 50px;
}
.footer .footer-top .footer-slider .footer-top-img img {
  width: auto;
}
.footer .footer-bottom {
  background: linear-gradient(145deg, #5817e7, #7889e0);
}
.footer .footer-bottom .background-footer {
  right: 0;
  z-index: 0;
  width: 26%;
}
.footer .footer-bottom .footer-row {
  display: flex;
  justify-content: space-around;
}
.footer .footer-bottom .footer-row .footer-item {
  z-index: 1;
}
.footer .footer-bottom .footer-row .footer-logo {
  margin-bottom: 60px;
}
.footer .footer-bottom .footer-row .footer-logo .footer-logo-img {
  padding-bottom: 48px;
  padding-top: 115px;
}
.footer .footer-bottom .footer-row .footer-logo .footer-icon {
  color: var(--color-white);
  font-size: 28px;
  padding-left: 125px;
}
.footer .footer-bottom .footer-row .footer-logo .footer-icon i {
  padding: 10px;
}
.footer .footer-bottom .footer-row .footer-info {
  margin-top: 90px;
}
.footer .footer-bottom .footer-row .footer-info li {
  padding: 15px 0;
}
.footer .footer-bottom .footer-row .footer-info li a {
  color: var(--color-white);
  font-weight: 500;
  font-size: 24px;
}
.footer .footer-bottom .footer-row .footer-info li a span {
  padding-left: 30px;
}
