:root {
  --color-jacarta: #2a2e6d;
  --color-astronaut: #292e6d;
  --color-white: #fff;
  --color-flamingo: #f04e35;
  --color-electricViolet: #6246fa;
  --color-dodgerBlue: #207bff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  overflow-x: hidden;
}

a {
  text-decoration: none;
  font-weight: 600;
}

li {
  list-style: none !important;
}

p {
  font-size: 16px;
  line-height: 1.6;
}

.container {
  // min-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  max-width: calc(100% / 3);
}

.col-2 {
  // flex: 0 0 calc(100% / 2);
  max-width: 50%;
}

.background {
  position: absolute;
  z-index: -4;
}

.header {
  width: 100%;
  padding: 30px 0;

  .container {
    // padding-left: 50px;
    // padding-right: 100px;
  }

  .header-wrapper {
    display: flex;
    align-items: center;
    max-height: 50px;
    justify-content: space-between;

    .header-logo {
      width: 245px;

      .logo-img {
        width: 100%;
      }
    }

    .header-nav-item {
      min-width: 854px;
    }

    .header-nav {
      display: flex;

      li {
        padding: 0 18px;
        position: relative;
        align-items: center;
        display: flex;
        &:hover {
          a {
            color: var(--color-dodgerBlue);
          }
        }

        a {
          color: var(--color-jacarta);
          padding: 10px 0;
        }
      }
    }

    .header-btn {
      display: flex;
      z-index: 2;
      .btn {
        color: var(--color-white);
        background-color: rgba($color: #000000, $alpha: 0);
        border-width: none;
        padding: 10px 15px;
        border-radius: 30px;
        border-color: transparent;
        font-weight: 500;
        font-size: 16px;
        &:hover {
          background-color: var(--color-flamingo);
          color: var(--color-white) !important;
        }
      }
    }
  }
}

.active {
  position: fixed;
  padding: 15px 0;
  background: var(--color-white);
  box-shadow: 0 4px 4px rgb(0 0 0 / 4%);
  animation: headerScroll 0.5s linear forwards;
  z-index: 1;
  .header-btn {
    .btn {
      color: var(--color-jacarta) !important;
    }
  }
}

@keyframes headerScroll {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.section {
  .services {
    margin: 0 auto;
    max-width: 1170px;
    .wrapper {
      display: flex;
      padding-right: 0;
      padding-top: 20px;
      .services-col {
        padding: 0 25px 25px 0;

        .services-WHC-hover {
          &:hover {
            background: linear-gradient(to right, #482e77 0%, #4d50c5 68%, #4d50c5 100%);
          }
        }

        .services-box {
          box-shadow: 0 0 5px rgb(10 31 68 / 8%);
          padding: 20px 25px;
          border-radius: 5px;
          background-color: var(--color-white);
          margin-bottom: 30px;
          width: 310px;

          &:hover {
            transform: translate(0, -20px);
            transition: 0.5s ease;
            .services-icon {
              background-color: var(--color-white);
              i {
                color: var(--color-dodgerBlue);
              }
            }
            .section-title,
            .section-content {
              color: var(--color-white);
            }
            .services-btn {
              .btn {
                color: var(--color-white);
                background-color: var(--color-flamingo);
                border: none;
              }
            }
          }

          .services-icon {
            background-color: var(--color-dodgerBlue);
            border-radius: 50%;
            height: 60px;
            width: 60px;
            font-size: 25px;
            display: inline-block;
            text-align: center;
            // margin: 0 auto;

            i {
              color: var(--color-white);
              margin-top: 15px;
              // text-align: center;
            }
          }

          .services-des {
            .section-title {
              min-height: 65px;
              padding: 0;
              h6 {
                padding-top: 15px;
              }
            }

            .section-content {
              min-height: 100px;
              padding: 0;
            }
          }
        }
      }
    }
  }

  .initiatory {
    // padding-top: 40px;
  }

  .text-title {
    text-transform: uppercase;
    color: var(--color-jacarta);
    font-weight: bold;
    padding: 20px 0;
    font-size: 26px;
  }

  .text-content {
    color: var(--color-astronaut);
    text-align: left;
    max-width: 550px;
    font-size: 18px;
    line-height: 1.4;
    padding-bottom: 25px;
  }
  .section-bg {
    right: 0;
    position: absolute;
    transform: rotate(36deg);
    transform-origin: 103% 46%;
    height: 620px;
    z-index: -2;
    width: 620px;
    border-radius: 50px;
    background-image: linear-gradient(to right, #1063faba, #9247d8);

    .background-img1 {
      transform: rotate(-8deg);
      transform-origin: 4% 78%;
    }
  }

  .background-img2 {
    float: left;
    transform: rotate(60deg);
    transform-origin: -20% 5%;
    width: 28%;
  }

  .services-electronic {
    height: 378px;
    .wrapper {
      // max-width: 1025px;
      width: 100%;
    }
    .initiatory {
      .text-title {
        font-size: 30px;
        color: var(--color-electricViolet);
        font-weight: bold;
      }
      .text-content {
        padding: 20px 180px 38px 0;
        font-size: 18px;
        display: inline-grid;
      }
    }

    .section-about {
      align-items: center;
      display: flex;
      box-shadow: 0 0 5px rgb(10 31 68 / 20%);
      border-radius: 10px;
      height: 80px;
      background-color: var(--color-white);
      max-width: 892px;

      .about-item {
        padding: 5px 15px 5px 5px;
        width: calc(100% / 4);
        .about-number {
          color: var(--color-jacarta);
          font-size: 28px;
        }
        p {
          color: var(--color-astronaut);
        }
      }

      .about-btn {
        background-color: var(--color-flamingo);
        border-radius: 10px;
        height: 100%;
        h3 {
          // align-items: center;
          text-transform: uppercase;
          text-align: center;
          color: var(--color-white);
          font-size: 30px;
          // font-weight: 600;
          padding-top: 16px;
        }
      }
    }
  }

  .services-WHC {
    padding-top: 46px;
    .services-bg {
      left: 0;
      .bg-opacity3 {
        position: absolute;
        transform: rotate(37deg);
        transform-origin: 6% -52%;
        height: 580px;
        z-index: 1;
        width: 607px;
        border-radius: 50px;
        background-image: linear-gradient(to right, #1063faba, #9247d8);
        opacity: 0.4;
      }
      .background-img3 {
        height: 100%;
        transform: rotate(25deg);
        transform-origin: 0% -120%;
      }
    }
    .wrapper {
      justify-content: end;
    }
  }

  .services-btn {
    padding: 30px 0;
    .btn {
      color: var(--color-dodgerBlue);
      background-color: transparent;
      border: 2px solid;
      border-radius: 7px;
      padding: 10px 25px;
      text-transform: uppercase;
      font-weight: 600;
    }
  }

  .wrapper-row {
    display: flex;
  }

  .register-course {
    .background-img4 {
      transform: rotate(29deg);
      transform-origin: 77% 199%;
      right: 0;
    }

    .wrapper-row {
      margin-right: 84px;
      .register-col {
        margin-right: 30px;
        .register-box {
          box-shadow: 0 0 5px rgb(10 31 68 / 8%);
          border-radius: 5px;
          min-height: 500px;

          &:hover {
            transform: scale(1.05);
            transition: 0.5s ease;
          }

          .register-img {
            img {
              width: 100%;
              min-height: 276px;
            }
          }

          .register-des {
            padding: 0 20px 20px 20px;
          }

          .services-btn {
            padding: 15px 0 35px 20px;
          }
        }
      }
    }
  }

  .register-consultation {
    padding-top: 36px;
    .register-consultation-hover {
      &:hover {
        background-image: linear-gradient(to right, rgb(72, 43, 110), rgb(77, 86, 207, 0.7)),
          url("../images/background/Picture4_hover.png");
        background-size: cover;
      }
    }
    .register-consultation-bg {
      right: 0;
      transform: rotate(38deg);
      transform-origin: 54% 147%;
      height: 620px;
      z-index: -2;
      width: 620px;
      border-radius: 50px;
      background-image: linear-gradient(to right, #1063faba, #9247d8);

      .background-img5 {
        transform: rotate(88deg);
        transform-origin: 50% 48%;
      }
    }
    .wrapper {
      display: flex;
      flex-wrap: wrap;
      padding-top: 20px;
      padding-right: 330px;
    }
  }

  .experience {
    padding-top: 22px;
    .wrapper-row {
      padding-top: 40px;
      .ex-row {
        margin-right: 36px;
        .avata-img {
          position: absolute;
          margin-top: -30px;
          margin-left: 30px;
          img {
            width: 56px;
            border-radius: 50%;
            box-shadow: 0 0 5px rgb(10 31 68 / 8%);
            border: 2px solid var(--color-white);
          }
        }
        .ex-box {
          box-shadow: 0 0 5px rgb(10 31 68 / 8%);
          border-radius: 5px;
          position: relative;

          &:hover {
            background: linear-gradient(145deg, #918afc, #3268cc);
            .ex-des,
            .info {
              color: var(--color-white);
            }
          }

          .ex-des {
            padding: 40px;
            p {
              font-style: italic;
            }
          }

          .info {
            padding: 0 40px 20px 40px;
            .info-name {
              color: var(--color-jacarta);
              font-size: 16px;
            }
            .info-des {
            }
          }
        }
      }
    }
  }

  .news-event {
    padding: 36px;
    .news-event-bg {
      left: 0;
      .background-img6 {
        transform: rotate(55deg);
        transform-origin: 18% -5%;
        width: 70%;
      }
    }
    .news-wrapper {
      display: flex;
      justify-content: flex-end;

      .col {
        z-index: -1;
        width: calc(100% / 6);
        flex-wrap: wrap;
        padding: 0 10px;
      }

      .news-event-columns {
        .news-event-square {
          position: relative;
          margin: 18px 0;

          img {
            width: 100%;
          }

          span {
            position: absolute;
            color: var(--color-white);
            bottom: 25px;
            left: 13px;
          }
        }
      }
    }
  }
}

.footer {
  .footer-top {
    background-color: #f9f9f9;
    .container {
      max-width: 1170px;
    }
    .footer-slider {
      display: flex;
      justify-content: space-around;
      padding: 20px 0;

      .footer-top-img {
        display: flex;
        // margin-right: 20px;
        height: 50px;
        img {
          width: auto;
        }
      }
    }
  }

  .footer-bottom {
    background: linear-gradient(145deg, #5817e7, #7889e0);
    // height: 300px;

    .background-footer {
      right: 0;
      z-index: 0;
      width: 26%;
    }
    .footer-row {
      display: flex;
      justify-content: space-around;
      // max-width: calc(100% / 2);

      .footer-item {
        z-index: 1;
      }

      .footer-logo {
        margin-bottom: 60px;
        .footer-logo-img {
          // width: 400px;
          padding-bottom: 48px;
          padding-top: 115px;
        }

        .footer-icon {
          color: var(--color-white);
          font-size: 28px;
          padding-left: 125px;
          i {
            padding: 10px;
          }
        }
      }

      .footer-info {
        margin-top: 90px;
        li {
          padding: 15px 0;
          a {
            color: var(--color-white);
            font-weight: 500;
            font-size: 24px;
            span {
              padding-left: 30px;
            }
          }
        }
      }
    }
  }
}
